body {
  margin: 2rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
}

h1 {
  font-size: 3rem;
}

button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 0.1rem solid black;
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: lightgray;
}